<article class="article-card">
<h2>My First Article</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, 
   velit eum reiciendis saepe earum autem? Nisi enim nulla corrupti quae illum, 
   totam, voluptatem accusantium repudiandae mollitia optio, delectus iste. 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum nisi a. 
   Voluptates ipsa nihil, dolore esse saepe velit consequuntur quis
   nulla earum dolor rem expedita blanditiis accusamus voluptas quae.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, 
   velit eum reiciendis saepe earum autem? Nisi enim nulla corrupti quae illum, 
   totam, voluptatem accusantium repudiandae mollitia optio, delectus iste. 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum nisi a. 
   Voluptates ipsa nihil, dolore esse saepe velit consequuntur quis
   nulla earum dolor rem expedita blanditiis accusamus voluptas quae.Lorem ipsum
   dolor sit amet consectetur adipisicing elit. Quidem, 
   velit eum reiciendis saepe earum autem? Nisi enim nulla corrupti quae illum, 
   totam, voluptatem accusantium repudiandae mollitia optio, delectus iste. 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum nisi a. 
   Voluptates ipsa nihil, dolore esse saepe velit consequuntur quis
   nulla earum dolor rem expedita blanditiis accusamus voluptas quae.</p>
  </article>
